/* Apply styles to the body to make sure the background image covers the entire page */
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Style the container with the background image */
.background {
    background-image: url('../images/Cocktail.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Change to column to stack elements */
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.box {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: height 0.3s;
}

.box.auto-height {
    height: auto;
}

.question {
    color: white;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

button {
    background-color: rgb(233, 149, 128);
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0;
    width: 60%;
    color: black;
}

button:hover {
    background-color: #f6b4b4;
}

/* Style for the 'Get Random Cocktail' button with deep red/orange background and lighter hover effect */
#randomCocktailButton {
    background: linear-gradient(45deg, #b30000, #ff6600); /* Default background: deep red to bright orange */
    background-size: 300%; /* Ensures a smoother color transition */
    width: 60%;
    border: none;
    padding: 12px 20px; /* Pad ding for the button */
    border-radius: 10px; /* Rounded corners */
    font-size: 20px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    margin-top: 20px; /* Margin above the button */
}

#randomCocktailButton i {
    margin-right: 10px; /* Spacing between icon and text */
    margin-left: 10px; /* Spacing between icon and text */
    font-size: 30px; /* Icon size */
    vertical-align: middle; /* Aligns icon vertically */
}

#randomCocktailButton:hover {
    background: linear-gradient(45deg, #ff9966, #ffcc66); /* Lighter hover background: light orange to soft yellow */
    background-size: 300%; /* Ensures a smoother color transition */
}
