/* Apply styles to the body to make sure the background image covers the entire page */
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Style the container with the background image */
.background {
    background-image: url('../images/Cocktail.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.box {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: height 0.3s;
}

.box.auto-height {
    height: auto;
}

.question {
    color: white;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

button {
    background-color: rgb(233, 149, 128);
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0;
    width: 60%;
    color: black;
}

button:hover {
    background-color: #f6b4b4;
}

/* Style for the 'Get Random Cocktail' button with deep red/orange background and lighter hover effect */
#randomCocktailButton {
    background: linear-gradient(45deg, #b30000, #ff6600);
    background-size: 300%;
    width: 60%;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

#randomCocktailButton i {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 30px;
    vertical-align: middle;
}

#randomCocktailButton:hover {
    background: linear-gradient(45deg, #ff9966, #ffcc66);
    background-size: 300%;
}

/* Loading spinner overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    visibility: hidden; /* Hidden by default */
}

/* Spinner style */
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
